---
import RCBrowser from '../layouts/RCBrowser.astro'
---

<RCBrowser>
    <h1 class="pixelated">Nothing found! Please try again later.</h1>
</RCBrowser>

<style>
    h1 {
        text-align: center;
    }
</style>
