---
import RCBrowser from '../layouts/RCBrowser.astro';
---

<RCBrowser>
    <div class="lists">
        <ul class="red-bullet">
            <li class="section-title">
                <a href="https://www.youtube.com/watch?v=K_9W5prULlg"
                    ><b>Business and economy</b> - <i
                        >Directory, Banks, Investments</i
                    ></a
                >
            </li>
            <li>
                <a href="http://rcbank.org/">http://rcbank.org</a>
            </li>
            <li>
                <a href="http://rdr.net/">http://rdr.net</a>
            </li>
            <li>
                <a href="http://usanatbank.net/">http://usanatbank.net</a>
            </li>
            <li class="section-title">
                <a href="https://rockay.fans/"
                    ><b>Computers and Internet</b> - <i
                        >Internet, Software, Multimedia</i
                    ></a
                >
            </li>
            <li>
                <a href="https://rockay.fans/">http://rockay.fans</a>
            </li>
            <li>
                <a href="/free">http://wizgaming.com</a>
            </li>
            <li>
                <a href="https://modworkshop.net/g/crimeboss"
                    >http://coolrockaymods.com</a
                >
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=qY-jqdJQxpQ"
                    >http://cagnali.org</a
                >
            </li>
            <li class="section-title">
                <a href="/"><b>This website</b> - <i>Created by</i></a>
            </li>
            <li>
                <a href="https://github.com/suhankins">Punished Bernadetta</a>
            </li>
            <li>
                <a href="mailto:berna@detta.dev">berna@detta.dev</a>
            </li>
            <li>
                <a href="https://github.com/suhankins/rcbanks"
                    >https://github.com/suhankins/rcbanks</a
                >
            </li>
        </ul>
    </div>
</RCBrowser>

<style>
    .lists {
        margin-top: 100px;
    }
    li {
        font-size: 24px;
    }
    .section-title {
        font-size: 28px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
</style>
