<search>
    <form class="pixelated" data-form="" action="/search">
        <label>
            Search for
            <input name="search" type="search" data-input="" />
        </label>
        <button>on the web</button>
        <ul>
            <li>
                <a href="#">Advanced</a>
            </li>
            <li>
                <a href="#">Preferences</a>
            </li>
        </ul>
    </form>
</search>

<script>
    (document.querySelector('[data-input]') as HTMLInputElement).value =
        new URLSearchParams(window.location.search).get('search') || '';

    document
        .querySelector('[data-form]')
        ?.addEventListener('submit', (event: Event) => {
            if (
                !(event instanceof SubmitEvent) ||
                !(event.target instanceof HTMLFormElement)
            ) {
                return;
            }
            const formData = new FormData(event.target);
            if (
                formData.get('search')?.toString().toLowerCase().trim() !==
                'rockay bank security holes'
            ) {
                return;
            }
            event.preventDefault();
            window.location.replace('/cagnali');
        });
</script>

<style>
    form {
        border-style: solid;
        border-width: 2px;
        border-bottom-color: #424242;
        border-right-color: #424242;
        border-left-color: #e3e3e3;
        border-top-color: #e3e3e3;
        background-color: #c0c0c0;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        height: 90px;
    }

    ul {
        padding-left: 16px;
    }

    form > * {
        display: inline-block;
    }

    input,
    button,
    label {
        font-family: inherit;
        font-size: 32px;
        height: 100%;
    }

    label {
        padding-right: 5px;
    }

    label > * {
        display: inline-block;
    }

    input {
        width: 450px;
        padding: 5px;
        border-left-color: #424242;
        border-top-color: #424242;
        border-right-color: #e3e3e3;
        border-bottom-color: #e3e3e3;
        background-color: #ffffff;
        font-size: 28px;
    }

    button {
        font-size: 28px;
        border-left-color: #424242;
        border-top-color: #424242;
        border-right-color: #e3e3e3;
        border-bottom-color: #e3e3e3;
        background-color: #ffffff;
        width: 160px;
    }
</style>
